<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Recently Added Links</div>
      <ul class="list-group">
        <%= render "urls/partials/display_recently_added_links" %>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Influential Users
      </div>
      <ul class="list-group">
        <%= render "urls/partials/display_influential_users" %>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Popular Links
      </div>
      <ul class="list-group">
        <%= render "urls/partials/display_popular_links" %>
      </ul>
    </div>
  </div>
</div>

