<%= form_for :url, url: "/urls", html: { class: "form-inline", id: "url_form" } do |f| %>
  <div class="form-group">
    <div class="input-group">
      <%= f.url_field :long_url, class: "form-control", placeholder: "Enter a Url...", required: true %>

      <div class="input-group-addon">
        <%= f.button "Cut it" %>
      </div>
    </div>
  </div>
<% end %>