// Place all the styles related to the Urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.intro {
  .form-group {
    width: 100%;

    .input-group {
      width: 100%;
    }

    .input-group-addon {
      background-color: $primary-color;
      width: 15%;
    }

    button {
      background: transparent;
      border: 0;
      color: #fff;
    }
  }
}